<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">

	<select id="userLogin" resultType="String">
	<![CDATA[
		SELECT user_pw
		from user
		where user_id=#{user_id}
	]]>
	</select>

	<insert id="userJoin">
	<![CDATA[
		insert into user (user_id, user_pw, user_name) values(#{user_id}, #{user_pw}, #{user_name}) 
	]]>
	</insert>
	
		<insert id="asdf">
	<![CDATA[
		insert into user (user_id, user_pw, user_name) values('1', '22222', '333333333') 
	]]>
	</insert>


	<select id="userSelect" resultType="UserVO">
	<![CDATA[
		SELECT * from user 
		where user_no=#{user_no}
	]]>
	</select>
</mapper> 